{% load crispy_forms_tags %} 

{% if success or user_created %}
<div class="alert alert-success auto-hide-alert mb-3" data-hide-after="3000">
  Користувача успішно створено
</div>
{% endif %}

<form
  method="POST"
  hx-post="{% url 'user-create' %}"
  hx-target="#createModalBody"
  hx-swap="innerHTML"
  hx-on="htmx:afterRequest: window.dispatchEvent(new Event('user-created'))"
>
    {% csrf_token %}
    {{ create_user_form|crispy }}

  <div class="modal-footer pb-0">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
    >
      Відмінити
    </button>

    <button type="submit" class="btn btn-primary">Створити</button>
  </div>
</form>

