{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="adminHMD professional admin dashboard template">
  <title>{% block title %}Адмін панель{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="admin-shell">
    {% include 'includes/sidebar.html' %}
    <div class="sidebar-backdrop" data-sidebar-close></div>
    <div class="admin-main">
      {% include 'includes/header.html' %}
      <!-- Main container -->
      {% block content %}
      {% endblock content %}
      <footer class="admin-footer">
        <div class="container-fluid px-3 px-lg-4">
          <span>Copyright 2026 <br> Developed by <a target="_blank" class="fw-bold text-success" href="https://github.com/HasanMahmudDev">Md. Hasan Mahmud</a> • Distributed by <a target="_blank" class="fw-bold text-success" href="https://themewagon.com">ThemeWagon</a> </span>
          <span>Professional dashboard template.</span>
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main_fixed.js' %}"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>

</body>
</html>
