{% load crispy_forms_tags %} 

{% if success %}
<div class="alert alert-success auto-hide-alert mb-3" data-hide-after="3000">
  Запис успішно створено
</div>
{% endif %}

<form
  method="POST"
  hx-post="{{ form_action }}"
  hx-target="#createAppointmentModalBody"
  hx-swap="innerHTML"
  hx-on="htmx:afterRequest: window.dispatchEvent(new Event('appointment-created'))"
> 
  {% csrf_token %} 
  {{ create_appointment_form|crispy }}

  <div class="modal-footer pb-0">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
    >
      Відмінити
    </button>

    <button type="submit" class="btn btn-primary">Створити</button>
  </div>
</form>
