<p>
  Ви впевнені, що хочете скасувати <strong>Запис #{{ appointment.id }} - {{ appointment.client.last_name }} {{ appointment.client.first_name }}</strong>
  на <strong>{{ appointment.start_at|date:'d.m.Y H:i' }}</strong>?
</p>
<div class="alert alert-warning" role="alert">
    <i class="bi bi-exclamation-triangle me-2"></i>
    <b>Увага! Запис буде переведено в статус "Скасовано"</b>
  </div>

<form method="POST"
      hx-post="{% url 'appointments-cancel' appointment.pk %}"
      hx-trigger="submit"
      hx-swap="none">
    {% csrf_token %}
    <div class="modal-footer pb-0">
        <button type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal">
            Скасувати
        </button>

        <button type="submit" class="btn btn-danger">Скасувати</button>
    </div>
</form>

<script>
    document.body.addEventListener("appointment-canceled", () => {
        const modalEl = document.getElementById("deleteAppointmentModal");
        const modal = bootstrap.Modal.getInstance(modalEl);

        modal?.hide();
        document.activeElement?.blur();
    });
</script>
