{% load crispy_forms_tags %}

<p>
  Ви впевнені, що хочете деактивувати:
  <strong>{{ procedure.title }}</strong>?
</p>
<div class="alert alert-warning" role="alert">
  <i class="bi bi-exclamation-triangle me-2"></i>
  <b>Увага! Послугу буде деактивовано. Вона більше не буде доступна для створення нових записів, але всі існуючі записи клієнтів із цією послугою будуть збережені.</b>
</div>
<form
  method="POST"
  hx-post="{% url 'procedure-delete' procedure.pk %}"
  hx-trigger="submit"
  hx-swap="none"
>
  {% csrf_token %}
  <div class="modal-footer pb-0">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
    >
      Скасувати
    </button>

    <button type="submit" class="btn btn-danger">Декативувати</button>
  </div>
</form>

<script>
    document.body.addEventListener("procedure-deleted", () => {
        const modalEl = document.getElementById("deleteProcedureModal");
        const modal = bootstrap.Modal.getInstance(modalEl);
    
        modal.hide();
    
        document.activeElement?.blur();
    });
</script>
