{% load crispy_forms_tags %}

<p>
  Ви впевнені, що хочете видалити:
  <strong>{{ master.first_name }} {{ master.last_name }}</strong>?
</p>
<div class="alert alert-danger" role="alert">
  <i class="bi bi-exclamation-triangle me-2"></i>
  <b>Увага! Видалення майстра призведе до видалення всіх записів клієнтів, пов’язаних із ним. Цю дію неможливо скасувати.</b>
</div>
<form
  method="POST"
  hx-post="{% url 'master-delete' master.pk %}"
  hx-trigger="submit"
  hx-swap="none"
>
  {% csrf_token %}
  <div class="modal-footer pb-0">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
    >
      Скасувати
    </button>

    <button type="submit" class="btn btn-danger">Видалити</button>
  </div>
</form>

<script>
    document.body.addEventListener("client-deleted", () => {
        const modalEl = document.getElementById("deleteClientModal");
        const modal = bootstrap.Modal.getInstance(modalEl);
    
        modal.hide();
    
        document.activeElement?.blur();
    });
</script>
